.userPreferences {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-16);

  &__section {
    gap: var(--space-12);
    align-items: start;
    padding: var(--space-16) var(--space-8);

    &__header {
      display: flex;
      gap: var(--space-8);

      &__title {
        font-size: var(--font-size-18);
      }
    }

    &__description {
      font-size: var(--font-size-14);
      color: var(--adm-color-text-secondary);
    }

    &__buttons {
      display: flex;
      gap: var(--space-12);
      flex-wrap: wrap;

      button {
        margin-bottom: 0;
        border-radius: var(--radius-128);

        .anticon-close {
          font-size: var(--font-size-12) !important;
        }
      }
    }

    &__input {
      background: var(--surface-secondary);
      border-radius: var(--radius-16);
      display: flex;
      justify-content: center;
      width: 100%;
      padding: var(--space-8);

      &__text {
        flex: 1;
        box-shadow: none;
        font-size: var(--font-size-16);
        padding: 0 var(--space-8);

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      button {
        margin-bottom: 0;
      }
    }
  }
}

.onboardingInput {
  width: 100%;
  padding: var(--space-8);
  font-size: var(--font-size-18);
  background-color: var(--surface-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-8);
  color: var(--text-primary);
  margin-bottom: var(--space-16);

  &:focus-visible {
    outline-offset: 0px;
    outline: none;
  }
}

.onboardingInputTextarea {
  height: 150px;
  resize: none;
}
