.container {
  background-color: var(--surface-secondary);
  border-radius: 15px;
  color: var(--text-primary);
  display: flex;
  flex: 1;
  margin-top: 8px;
  padding: 8px;
}

.title {
  font-size: 1.6em;
}

.text {
  font-size: 1.5em;
  word-wrap: break-word;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: var(--color-grey-systemGrayAccessibleLight);
  border-radius: var(--radius-16);
  padding: var(--space-4);
}

.item {
  display: flex;
  gap: 8px;
}

.container h3 {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.48px;
  margin-top: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
}