$bounce: cubic-bezier(.34, 1.2, .35, 1);

.container {
  transform: skewY(-5deg);
  transform-origin: top right;
  font-weight: 600;
  text-align: center;
}

.title_odd {
  animation-name: screenFlyInFromLeft;
  animation-delay: .0s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: $bounce;
  background-color: var(--surface-brand-blue);
  color: white;
  line-height: 1 !important;
  padding: var(--space-16) var(--space-16);
  opacity: 0;
}

.title_short {
  font-size: var(--font-size-40);
}

.title_long {
  font-size: var(--font-size-48);
}

.title_even {
  animation-name: screenFlyInFromRight;
  animation-delay: .0s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: $bounce;
  background-color: var(--surface-brand-blue);
  color: white;
  line-height: 1 !important;
  padding: var(--space-16) var(--space-16);
  opacity: 0;
}

@keyframes screenFlyInFromLeft {
  from {
    transform: translateX(-100vh);
  }

  to {
    transform: translateX(0vh);
    opacity: 1;
  }
}

@keyframes screenFlyInFromRight {
  from {
    transform: translateX(100vh);
  }

  to {
    transform: translateX(0vh);
    opacity: 1;
  }
}