.skeletonLoader {
  animation: loading 1.5s infinite;
  background: linear-gradient(
    90deg,
    var(--color-dark-gray) 25%,
    var(--color-medium-gray) 50%,
    var(--color-dark-gray) 75%
  );
  background-size: 200% 100%;
  border-radius: var(--radius-4);
  overflow: hidden;
  width: 100%;
  margin-bottom: var(--space-8);

  padding: var(--space-12) var(--space-16);

  &--circular {
    border-radius: var(--radius-128);
    padding: 0;
  }

  &--hide__children {
    display: none;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}
