.mealMap {
  padding: var(--space-16);
  overflow-y: scroll;
  height: 80vh;
  width: 100%;
  color: var(--color-text);
}

.dayPlan {
  margin-bottom: 20px;
}

.mealsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mealBox {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: var(--space-16);
  text-align: center;
  background-color: var(--surface-primary);
  border-radius: var(--radius-16);
  cursor: pointer;

  @media (min-width: 400px) and (max-width: 767px) {
    flex: 1 1 calc(50% - 10px);
    max-width: 50%;
  }

  @media (min-width: 768px) {
    flex: 1 1 calc(33.333% - 10px);
    max-width: 300px;
  }
}
