.profilePage {
  &__avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__avatarInfo {
    display: flex;
    flex-direction: column;

    &__name {
      font-size: 1.5rem;
    }

    &__role {
      font-size: 1rem;
      color: var(--adm-color-yellow);
    }
  }

  &__header {
    width: 100%;
    margin-bottom: var(--space-16);
  }

  &__section {
    margin-bottom: var(--space-24);
    gap: var(--space-8);
    align-items: start;

    &__header {
      display: flex;
      gap: var(--space-8);
    }

    &__buttons {
      display: flex;
      gap: var(--space-8);
      flex-wrap: wrap;

      button {
        margin-bottom: 0;
        border-radius: 50px;

        .anticon-close {
          font-size: 12px !important;
        }
      }
    }

    &__input {
      background: var(--surface-secondary);
      border-radius: 12px;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 8px;

      &__text {
        flex: 1;
        box-shadow: none;
        font-size: 1rem;
        padding: 0 10px;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      button {
        margin-bottom: 0;
      }
    }
  }
}
