.progressionPath {
    width: 100%;
    max-width: 600px;
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    
    &Unit {
      margin-bottom: 6rem;
  
      &Header {
        border-radius: 0.75rem;
        padding: 1rem;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        box-shadow: var(--shadow-inner-shadow-x, 0px) var(--shadow-inner-shadow-y, -4px) 0px 0px var(--color-grey-black-25, rgba(0, 0, 0, 0.25)) inset;
      }
  
      &Title {
        font-size: 1.25rem;
        font-weight: 700;
      }
  
      &Content {
        display: flex;
        position: relative;
        width: 100%;
        padding: 16px;
        gap: 25px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
      }
    }
  
    &QuestButton {
      width: 5rem;
      height: 5rem;
      border-radius: 9999px;
      border: 0px solid var(--color-grey-systemGrayAccessibleLight);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms ease-in-out;
      font-size: 2rem;
      box-shadow: var(--shadow-inner-shadow-x, 0px) var(--shadow-inner-shadow-y, -4px) 0px 0px var(--color-grey-black-25, rgba(0, 0, 0, 0.25)) inset;
  
      &Playable {
        cursor: pointer;
        
        &:hover {
          transform: scale(1.1);
        }
      }
  
      &Active {
        transform: scale(1.1);
      }
  
      &Inactive {
        cursor: not-allowed;
      }
    }
  } 

.text {
    color: var(--text-primary);
}